/*selektor uniwersaly*/
* {
    color:red;
}
ul {
    list-style: none;
}
/*psełdo elementy*/

ul li::before {
    content:"+";
}

ul li::after {
    content: "asasdadsad";
}
ul li::first-letter {
    color:yellow;
}
#main-header .header-inner p::first-line {
    color:beige;
}
a:link {
    color:pink;
}
a:visited {
    color: black;
}
a:hover {
    color:aquamarine;
}
a:active {
    color:chartreuse;
}
/*
input:focus {
    border: 3px solid red;
}
*/
div:target {
    border: 1px solid black;
}
div:lang(pl) p {
    color:blueviolet;
}
ul li:first-child a{
    color:violet;
}ul li:last-child a{
    color:skyblue;
}
#only-child :only-child {
    color:brown;
}
#second-ul li:nth-of-type(3) {
    font-size: 20px;
}
#second-ul li:nth-of-type(3n+2) {
    font-size: 30px;
    color: green;
}
input[type] {
    border: 3px solid #000;
}
input[type="tel"] {
    border: 3px solid red;
}
input[title~="input"] {
    border: 3px solid blue;
}
input[title*="rz"] {
    border: 3px solid green;
}
input[title^="pi"] {
    border: 3px solid violet;
}
input[title$="ci"] {
    border: 3px solid brown;
}
/*float*/
.floated-inner {
    width: 300px;
    height: 300px;
    background-color: red;
    float: left;
}
#clear{
    clear: both;
}

.transition {
    width: 200px;
    height: 200px;
    background-color: red;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    margin-top: 20px;
}
.transition:hover {
    background-color: green;
    
}
.square{
    width: 150px;
    height: 150px;
    margin:auto;
    margin-bottom: 10px;
    transition: 0.5s;    
}
#kwadrat-szerokosc{
    background-color: red;    
}
#kwadrat-szerokosc:hover {
    width: 300px;
}
#kwadrat-wysokosc{
    background-color: blue;  

}
#kwadrat-wysokosc:hover{
    height: 300px;
}
#kwadrat-szer-wys{
    background-color: green;    
}
#kwadrat-szer-wys:hover {
    width: 300px;
    height: 300px;
}
.background {
    
    height: 500px;
/*    background-color: rgba(0,0,0.5);*/
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)) ,url("http://www.tapeta-lampart-grafika-3.na-pulpit.com/zdjecia/lampart-grafika-3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    background-size: cover;
}
.overflow{
    width: 300px;
    height: 300px;
    border: 1px dashed #000;
    margin-top: 10px;
    overflow: hidden;
}